/* General Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #141414;
  color: white;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  height: 40px;
  margin-right: 20px;
}

.navbar-left ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-left ul li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right .icons {
  height: 20px;
  cursor: pointer;
}

.navbar-profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-profile .profile {
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #141414;
  padding: 10px;
  border: 1px solid #333;
  text-align: left;
}

.navbar-profile:hover .dropdown {
  display: block;
}

/* Media Queries */

/* For tablets and smaller devices */
@media (max-width: 768px) {
  .navbar-left ul {
    display: none;
  }

  .navbar-left img {
    height: 35px;
  }

  .navbar-right p {
    display: none;
  }

  .navbar-right .icons {
    height: 18px;
  }
}
  .navbar-right img[src$="bell_icon.svg"] { /* Hide the bell icon */
    display: none;
}

/* For mobile devices */
@media (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
  }
  .navbar-left .logo{
    height: 30px;
  }
  .navbar-right{
    margin-right: 20px;
  }
  .navbar-right .navbar-profile .profile{ 
    height: 20px;
  } 

   /* .navbar-left img {
    height: 30px;
    margin-bottom: 10px;
  }

   .navbar-right {
    width: 100%;
    flex-direction: row;
  } 

  .navbar-right .icons {
    height: 16px;
  } 

   .navbar-right .navbar-profile .profile {
    height: 20px;
  } */
}
